DB_PASSWORD=Avdhoot@1702
spring.datasource.url=jdbc:mysql://localhost:3306/shell_cart
spring.datasource.username=root
spring.datasource.password=${DB_PASSWORD}
FRONTEND_URL=http://localhost:5173
PORT=8080